Title: Guitar tablature with rhythm
Order: 3
---

<div class="description">
    When using the <code>tab</code> stave configuration, additionaly the rhythm 
    can be displayed via the setting <code>notation.rhythmMode</code> or the attribute <code>data-notation-rhythmmode</code>
</div>

<div>
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#scriptInit" role="tab" data-toggle="tab">Script Initialization</a></li>
    <li><a href="#dataInit" role="tab" data-toggle="tab">Data Attribute Initialization</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active example" id="scriptInit">
        <div class="html">
            <div id="alphaTabScriptInit"></div>
        </div>
        <div class="js">
            <script type="text/x-alphatab">
                $('#alphaTabScriptInit').alphaTab({
                  file: '@Context.GetLink("/assets/files/features/Rhythm.gp5")',
                  notation: {
                    rhythmMode: 'ShowWithBars'
                  }
                })
            </script>
        </div>
    </div>
    <div class="tab-pane example" id="dataInit">
        <div class="html">
            <div id="alphaTabDataInit" data-file="@Context.GetLink("/assets/files/features/Rhythm.gp5")" data-display-staveprofile="tab" data-notation-rhythmmode="ShowWithBars"></div>
        </div>
        <div class="js">
            <script type="text/x-alphatab">
                $('#alphaTabDataInit').alphaTab()
            </script>
        </div>
    </div>
  </div>
</div>

<div class="description">
    The rhythm height can be adjusted via <code>rhythmHeight: 50</code> or <code>data-staves-rhythm-height="50"</code>
</div>

<div>
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#scriptInit" role="tab" data-toggle="tab">Script Initialization</a></li>
    <li><a href="#dataInit" role="tab" data-toggle="tab">Data Attribute Initialization</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active example" id="scriptInit">
        <div class="html">
            <div id="alphaTabScriptInit2"></div>
        </div>
        <div class="js">
            <script type="text/x-alphatab">
                $('#alphaTabScriptInit2').alphaTab({
                  file: '@Context.GetLink("/assets/files/features/Rhythm.gp5")',
                  notation: {
					rhythmMode: 'ShowWithBars',
					rhythmHeight: 50
                  }                
                })
            </script>
        </div>
    </div>
    <div class="tab-pane example" id="dataInit">
        <div class="html">
            <div id="alphaTabDataInit2" data-file="@Context.GetLink("/assets/files/features/Rhythm.gp5")" data-display-staveprofile="tab" data-notation-rhythmmode="ShowWithBars" data-notation-rhythm="50"></div>
        </div>
        <div class="js">
            <script type="text/x-alphatab">
                $('#alphaTabDataInit2').alphaTab()
            </script>
        </div>
    </div>
  </div>
</div>

<div class="description">
    You can prevent beaming by setting <code>notation.rhythmMode = 'ShowWithBeams'</code> or <code>data-notation-rhythmmode="ShowWithBeams"</code>
</div>

<div>
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#scriptInit" role="tab" data-toggle="tab">Script Initialization</a></li>
    <li><a href="#dataInit" role="tab" data-toggle="tab">Data Attribute Initialization</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active example" id="scriptInit">
        <div class="html">
            <div id="alphaTabScriptInit3"></div>
        </div>
        <div class="js">
            <script type="text/x-alphatab">
                $('#alphaTabScriptInit3').alphaTab({
                  file: '@Context.GetLink("/assets/files/features/Rhythm.gp5")',
                  notation: {
					rhythmMode: 'ShowWithBeams'
                  }                
                })
            </script>
        </div>
    </div>
    <div class="tab-pane example" id="dataInit">
        <div class="html">
            <div id="alphaTabDataInit3" data-file="@Context.GetLink("/assets/files/features/Rhythm.gp5")" data-display-staveprofile="tab" data-notation-rhythmmode="ShowWithBeams"></div>
        </div>
        <div class="js">
            <script type="text/x-alphatab">
                $('#alphaTabDataInit3').alphaTab()
            </script>
        </div>
    </div>
  </div>
</div>