Title: Styling player via CSS
Description: AlphaTab has some player related elements which can be adjusted with CSS
ShowInSideBar: true
Since: 0.9.6
---

<p>
    AlphaTab has some player related elements which can be adjusted with CSS. Description of the elements and the corresponding CSS classes can be found on this page. 
    A full example with all styles activated can be found at <a href="@(Context.GetLink("/assets/files/player/player")).html">the full demo page</a>
</p>

<h2>Selection (at-selection)</h2>

<p>
    If enabled, users can select a playback range of alphaTab with the mouse. AlphaTab will generate a div element with the CSS class <code>at-selection</code> attached. 
    Within this divs the individual parts of the selection are created. Usually some transparent background color is attached to the divs to visually indicate a selection 
    without hiding any content.
</p>

<p>
<pre><code class="language-css">
.at-selection div {
    background: rgba(64, 64, 255, 0.1);
}
</code></pre><br />
    <img src="@Context.GetLink("/reference/at-selection.png")" alt="Selection" />
</p>

<h2>Bar Cursor (at-cursor-bar)</h2>

<p>
    During playback alphaTab will place a div element at the area of the currently played bars. This div element gets the CSS class <code>at-cursor-bar</code> assigned. 
    Usually some transparent background color is attached to the divs to visually indicate the played bar without hiding any content.
</p>

<p>
<pre><code class="language-css">
.at-cursor-bar {
    background: rgba(255, 242, 0, 0.25);
}
</code></pre><br />
    <img src="@Context.GetLink("/reference/at-cursor-bar.png")" alt="Bar Cursor" />
</p>
      
<h2>Beat Cursor (at-cursor-beat)</h2>

<p>
    During playback alphaTab will place a div element at the area of the currently played beat and will animate it accordingly to indicate the ongoing playback. This div element gets the CSS class <code>at-cursor-beat</code> assigned. The width of the cursor also should be specified otherwise it might not be visible. 
</p>

<p>
<pre><code class="language-css">
.at-cursor-beat {
    background: rgba(64, 64, 255, 0.75);
    width: 3px;
}
</code></pre><br />    
    <img src="@Context.GetLink("/reference/at-cursor-beat.png")" alt="Beat Cursor" />
</p>
      
<h2>Currently played elements (at-highlight)</h2>

<p>
    This feature is only available when alphaTab is rendered as SVG in the browser. During playback alphaTab alphaTab will attach to all SVG groups that are related to a played beat 
    the CSS class <code>at-highlight</code>. The CSS rules are SVG related in this case and usually both <code>fill</code> and <code>stroke</code> should be specified to ensure
    all elements are colored. Depending on the SVG elements (lines, paths etc.) they might have a fill or stroke. 
<p>
<pre><code class="language-css">
.at-highlight * {
    fill: #0078ff;
    stroke: #0078ff;
}
</code></pre><br />    
    <img src="@Context.GetLink("/reference/at-highlight.png")" alt="Played Elements" />
</p>