Title: Effects and Annotations
Order: 6
---

<h2 id="markers">Markers</h2>

<p>
	Markers are a nice element to annotate different sections of the song. 
</p>
<div id="alphaTabMarkers" data-file="@Context.GetLink("/assets/files/features/Markers.gp5")"></div>
<script type="text/javascript">
	$('#alphaTabMarkers').alphaTab();
</script>

<h2 id="tempo">Tempo</h2>

<p>
	You might already have mentioned them: Tempo markers are supported too. 
</p>

<div id="alphaTabTempo" data-file="@Context.GetLink("/assets/files/features/Tempo.gp5")"></div>
<script type="text/javascript">
	$('#alphaTabTempo').alphaTab();
</script>

<h2 id="text">Text</h2>

<p>
	Each beat can have a text attached. 
</p>

<div id="alphaTabText" data-file="@Context.GetLink("/assets/files/features/Text.gp5")"></div>
<script type="text/javascript">
	$('#alphaTabText').alphaTab();
</script>

<h2 id="chords">Chords</h2>

<p>
	Chord names can be useful to indicate how to play a song. Chord diagrams are also shown if available. 
</p>

<div id="alphaTabChords" data-file="@Context.GetLink("/assets/files/features/Chords.gp5")"></div>
<script type="text/javascript">
	$('#alphaTabChords').alphaTab();
</script>

<h2 id="vibrato">Vibrato</h2>

<p>
	Beat vibrators and note vibratos are both available.
</p>

<div id="alphaTabVibrato" data-file="@Context.GetLink("/assets/files/features/Vibrato.gp5")"></div>
<script type="text/javascript">
	$('#alphaTabVibrato').alphaTab();
</script>

<h2 id="dynamics">Dynamics</h2>

<p>
	From piano pianissimo to forte fortissimo, they are all there
</p>

<div id="alphaTabDynamics" data-file="@Context.GetLink("/assets/files/features/Dynamics.gp5")"></div>
<script type="text/javascript">
	$('#alphaTabDynamics').alphaTab();
</script>   

<h2 id="tap-slap-pop">Tap/Slap/Pop</h2>

<p>
	Especially bass guitar players will like this feature.
</p>
		
<div id="alphaTabTap" data-file="@Context.GetLink("/assets/files/features/Tap.gp5")"></div>
<script type="text/javascript">
	$('#alphaTabTap').alphaTab();
</script>   

<h2 id="fade-in">Fade-In</h2>

<p>
	This annotation is shown if you need to increase the note volume from silent to normal when
	playing it. 
</p>

<div id="alphaTabFadeIn" data-file="@Context.GetLink("/assets/files/features/FadeIn.gp5")"></div>
<script type="text/javascript">
	$('#alphaTabFadeIn').alphaTab();
</script>   

<h2 id="let-ring">Let Ring</h2>

<p>
	If this annotation is placed on a note, you don't stop the string after the beat ends. 
</p>
		
<div id="alphaTabLetRing" data-file="@Context.GetLink("/assets/files/features/LetRing.gp5")"></div>
<script type="text/javascript">
	$('#alphaTabLetRing').alphaTab();
</script>  

<h2 id="palm-mute">Palm Mute</h2>

<p>
	A feature you won't miss: Palm Mute markers.
</p>
		
<div id="alphaTabPalmMute" data-file="@Context.GetLink("/assets/files/features/PalmMute.gp5")"></div>
<script type="text/javascript">
	$('#alphaTabPalmMute').alphaTab();
</script>       

<h2 id="string-bends">String Bends</h2>

<p>
	String bendings can be rendered by alphaTab as well. 
</p>

<div id="alphaTabBends" data-file="@Context.GetLink("/assets/files/features/Bends.gp")"></div>
<script type="text/javascript">
	$('#alphaTabBends').alphaTab();
</script>         

<h2 id="whammy-bar">Whammy Bar</h2>

<p>
	A lot of electrical guitars come with whammy bars. alphaTab
	can show whammy bar effects. 
</p>

<div id="alphaTabTremoloBar" data-file="@Context.GetLink("/assets/files/features/Whammy.gp")"></div>
<script type="text/javascript">
	$('#alphaTabTremoloBar').alphaTab();
</script>  
		
<h2 id="tremolo-picking">Tremolo Picking</h2>

<p>
	Tremolo Pickings are rendered too. 
</p>

<div id="alphaTabTremoloPicking" data-file="@Context.GetLink("/assets/files/features/TremoloPicking.gp5")"></div>
<script type="text/javascript">
		$('#alphaTabTremoloPicking').alphaTab();
</script>  
		
<h2 id="brush-strokes">Brush Strokes</h2>

<p>
	Brush Strokes are shown as arrows on the tablature stave. 
</p>

<div id="alphaTabBrushes" data-file="@Context.GetLink("/assets/files/features/Brush.gp5")"></div>
<script type="text/javascript">
	$('#alphaTabBrushes').alphaTab();
</script>  

<h2 id="slides">Slides</h2>

<p>
	There are several types of slides alphaTab can render. 
</p>

<div id="alphaTabSlides" data-file="@Context.GetLink("/assets/files/features/Slides.gp5")"></div>
<script type="text/javascript">
	$('#alphaTabSlides').alphaTab();
</script>    

<h2 id="trill">Trill</h2>

<p>
	Trill effects are rendered on the tablature stave and on an effect line. 
</p>

<div id="alphaTabTrill" data-file="@Context.GetLink("/assets/files/features/Trill.gp5")"></div>
<script type="text/javascript">
	$('#alphaTabTrill').alphaTab();
</script>   

<h2 id="pick-stroke">Pick Stroke</h2>

<p>
	Pick strokes indicate how to play the strings. 
</p>

<div id="alphaTabPickStroke" data-file="@Context.GetLink("/assets/files/features/PickStroke.gp5")"></div>
<script type="text/javascript">
	$('#alphaTabPickStroke').alphaTab();
</script>   

<h2 id="tuplets">Tuplets</h2>

<p>
	Tuplets are used to divide beats into equal subdivisions. 
</p>

<div id="alphaTabTuplets" data-file="@Context.GetLink("/assets/files/features/Tuplets.gp5")"></div>
<script type="text/javascript">
	$('#alphaTabTuplets').alphaTab();
</script>   

<h2 id="fingering">Fingering</h2>

<p>
	Finger indicators can be used to highlight which fingers should be used to play
	the respective note on the instrument. 
</p>

<div id="alphaTabFingering" data-file="@Context.GetLink("/assets/files/features/Fingering.gpx")"></div>
<script type="text/javascript">
	$('#alphaTabFingering').alphaTab();
</script>   

<h2 id="triplet-feel">Triplet-Feel</h2>

<p>
	Triplet feels are used to indicate that a pair of particular notes are played with a different 
	durations as they are indicated by the annotations. 
</p>

<div id="alphaTabTripletFeel" data-file="@Context.GetLink("/assets/files/features/TripletFeel.gpx")"></div>
<script type="text/javascript">
	$('#alphaTabTripletFeel').alphaTab();
</script>   
